<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Costagram</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="fragments/nav :: navbar"/>

<main id="edit-profile">
    <div class="edit-profile__container u-default-box">
        <header class="edit-profile__header">
            <div class="fucker-container">
                <img th:src="@{/upload/{user.profileImage}}" />
            </div>
            <h1 class="edit-profile__username" th:text="${user.username}"></h1>
        </header>

        <form action="/user/editProc" method="PUT" class="edit-profile__form">
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="name">Name</label>
                <input id="name" name="name" type="text" th:value="${user.name}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="username">Username</label>
                <input id="username" name="username" type="text" th:value="${user.username}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="website">Website</label>
                <input id="website" name="website" type="url" th:value="${user.website}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="bio">Bio</label>
                <textarea id="bio" name="bio" th:text="${user.bio}"></textarea>
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="email">Email</label>
                <input id="email" name="email" type="email" th:value="${user.email}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="phone-number">Phone Number</label>
                <input id="phone-number" name="phone" type="text" th:value="${user.phone}">
            </div>
            <div class="edit-profile__row">
                <label class="edit-profile__label" for="gender">Gender</label>
                <input id="gender" name="gender" type="text" th:value="${user.gender}">
            </div>
            <div class="edit-profile__row">
                <span></span>
                <input style="background-color:#3897F0;" type="submit">
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"/>
</body>
</html>
