<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>
<body>

<nav class="navigation">
    <a th:href="@{/}">
        <img th:src="@{/images/logo.png}" />
    </a>
    <input type="text" placeholder="Search">

    <div class="navigation__links">
        <a th:href="@{/image/explore}" class="navigation__link">
            <i class="fa fa-compass"></i>
        </a>
        <a href="#" class="navigation__link like_popup">
            <i class="fa fa-heart-o"></i>
        </a>
        <a th:href="@{'/user/' + principal.user.id}" class="navigation__link">
            <i class="fa fa-user-o"></i>
        </a>
    </div>
</nav>

<!-- 좋아요 Modal 시작 -->
<div id="modal">
    <div id="like_popup_list">
        <div class="like_popup_items">

        </div>
        <div class="like_popup_close">
            <button type="button">닫기</button>
        </div>
    </div>
</div>
<!-- 좋아요 Modal 끝 -->
</body>
</html>
