<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Miastagram</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<main id="explore">

    <ul class="explore__users u-default-box">

        <div th:each="follower : ${followers}" class="explore__user">
            <div class="explore__content">
                <img th:if="${follower.fromUser.profileImage != null}" th:src="@{'/upload/' + follower.fromUser.profileImage}"/>
                <img th:unless="${follower.fromUser.profileImage != null}" th:src="@{/images/avatar.jpg}">
<!--                <img th:src="@{'/upload/' + ${follower.fromUser.profileImage}}" th:onerror="this.src='/images/avatar.jpg'"/>-->
                <div class="explore__info">
                    <span class="explore__username" th:text="${follower.fromUser.username}"></span>
                </div>
            </div>

            <div th:id="${'follow_item_' + followers.size()}">
                <div th:if="${principal.user.userId != follower.fromUser.userId}">
                    <button th:if="${follower.followState}" th:onclick="'follow(false, ' + ${follower.fromUser.userId} + ', ' + ${followers.size()} + ')'" class="following_btn">팔로잉</button>
                    <button th:unless="${follower.followState}" th:onclick="'follow(true, ' + ${follower.fromUser.userId} + ', ' + ${followers.size()} + ')'" class="follow_btn">팔로우</button>
                </div>
            </div>

        </div>

    </ul>
</main>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/follow.js}"></script>
</body>
</html>
